<mat-dialog-content>
  <div class="example-container">
    <!-- <mat-form-field>
      <input matInput placeholder="Full Name" [(ngModel)]="fullName" [disabled]="true">
    </mat-form-field> -->
    <mat-toolbar>
      <span><label class="headerLabel">Membership Payment</label></span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>

    <div class="nameMonthTotal">
        <table class="memberPaymentInfoTbl">
          <tr>
            <td id="leftLabels">Full Name</td>
            <td id="value">{{fullName}}</td>
          </tr>
          <tr>
            <td id="leftLabels">Church Id</td>
            <td id="value">{{churchId}}</td>
          </tr>
          <tr>
            <td id="leftLabels">Phone</td>
            <td id="value">{{phone}}</td>
          </tr>
          <tr>
            <td id="leftLabels">Tier</td>
            <td id="value">{{tierId}}</td>
          </tr>
          <tr>
            <td id="leftLabels">Total</td>
            <td id="value">${{total}}</td>
          </tr>
          <tr>
            <td id="leftLabels">Months</td>
            <td>
              <button id = "minusPlusBtn" mat-icon-button [ngClass] = "minusBtnClass" [disabled]="months<=1? true : false" (click)="calculateTotalMinusMonthClicked()">
                <mat-icon>remove_circle</mat-icon>
              </button>
              <label>{{months}}</label>
              <button id = "minusPlusBtn" mat-icon-button [ngClass] = "plusBtnClass" [disabled]="months>=maximumMonths? true : false" (click)="calculateTotalPlusMonthClicked()">
                <mat-icon>add_circle</mat-icon>
              </button>
            </td>
          </tr>
        </table>
      </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color='accent' (click)="dismiss()" class = "cancelBtn"><mat-icon>cancel</mat-icon>
    Cancel
  </button>
  <button mat-raised-button [disabled]="maximumMonths==0" (click)="makePayment()" color='primary'><mat-icon class = "payBtn">done</mat-icon>
      Proceed
  </button>
</mat-dialog-actions>