<mat-toolbar>
  <span>{{memberModel.memberId>0?"Modify Member": "New Member"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<div class="divNewMember">
  <form [formGroup]="addMemberForm" class="normal-form" (submit)="onSubmit()">
    <div class="row registrationDiv">
      <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="row col-lg-12 col-xl-12 dtRow">
          <div class="col-lg-4  col-xl-4">
            <mat-form-field>
              <input formControlName="firstName" matInput placeholder="First name*">
              <mat-error>First name field is mandatory.</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-4  col-xl-4">
            <mat-form-field>
              <input formControlName="middleName" matInput placeholder="Middle name*">
              <mat-error>Middle name field is mandatory.</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4  col-xl-4">
            <mat-form-field>
              <input formControlName="lastName" matInput placeholder="Last name*">
              <mat-error>Last name field is mandatory.</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row col-lg-12 col-xl-12 dtRow">
          <div class="col-lg-4  col-xl-4 divGender">
            <mat-radio-group formControlName="gender">
              <div class="row">
                <div class="col-lg-6 col-xl-6">
                  <mat-radio-button value="Male" color="primary">Male</mat-radio-button>
                </div>
                <div class="col-lg-6 col-xl-6">
                  <mat-radio-button value="Female" color="primary">Female</mat-radio-button>
                </div>
              </div>
            </mat-radio-group>
          </div>

          <div class="col-lg-3  col-xl-3">
            <mat-form-field>
              <input formControlName="mobile" matInput placeholder="Mobile*">
              <mat-error *ngIf="addMemberForm.controls['mobile'].errors?.required">Mobile field is mandatory.
              </mat-error>
              <mat-error *ngIf="addMemberForm.controls['mobile'].errors?.minlength">Please put valid number.</mat-error>
              <mat-error *ngIf="addMemberForm.controls['mobile'].errors?.maxlength">Please put valid number.</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-5  col-xl-5">
            <mat-form-field>
              <input formControlName="email" matInput placeholder="Email">
              <mat-error>Invalid email address.</mat-error>
            </mat-form-field>
          </div>

        </div>

        <div class="row col-lg-12 col-xl-12 dtRow">
          <div class="col-lg-8  col-xl-8">
            <mat-form-field>
              <input formControlName="streetAddress" matInput placeholder="Street Address*">
              <mat-error>Street field is mandatory.</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4  col-xl-4">
            <mat-form-field>
              <input formControlName="apartment" matInput placeholder="Apartment No.">
            </mat-form-field>
          </div>
        </div>

        <div class="row col-lg-12 col-xl-12 dtRow">
          <div class="col-lg-4  col-xl-4">
            <mat-form-field>
              <input formControlName="city" matInput placeholder="City*">
              <mat-error>City field is mandatory.</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-xl-4">
            <mat-form-field>
              <input formControlName="state" matInput placeholder="State*">
              <mat-error>State field is mandatory.</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4  col-xl-4">
            <mat-form-field>
              <input formControlName="zipCode" matInput placeholder="Zip Code*">
              <mat-error *ngIf="addMemberForm.controls['zipCode'].errors?.required">Zip code field is mandatory.
              </mat-error>
              <mat-error *ngIf="addMemberForm.controls['zipCode'].errors?.minlength">Please put valid zip code.
              </mat-error>
              <mat-error *ngIf="addMemberForm.controls['zipCode'].errors?.maxlength">Please put valid zip code.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row col-lg-12 col-xl-12 dtDependent">
          <div class="col-lg-3 col-xl-3 col-sm-12">
            <mat-checkbox formControlName="sundaySchool" color="primary">Sunday School</mat-checkbox>
          </div>
          <div class="col-lg-3 col-xl-3 col-sm-12">
            <mat-checkbox formControlName="sebekaGubae" color="primary">Sebeka Gubae</mat-checkbox>
          </div>
          <div class="col-lg-3 col-xl-3 col-sm-12">
            <mat-select (selectionChange)="onTierSelected($event)" placeholder="Tier" #TIER [(value)]="selectedTier.tierId" formControlName='tier'>
              <mat-option *ngFor="let tier of tierList$ | async" [value]='tier.tierId'>
                {{tier.description}}
              </mat-option>
            </mat-select>
          </div>
          <div class="col-lg-3 col-xl-3 col-sm-12" *ngIf="!(memberModel.memberId > 0)">
            <mat-form-field>
              <input formControlName="registrationDate" [min]="minRegistrationDate" [max]="maxRegistrationDate" matInput
                [matDatepicker]="picker" placeholder="Registration date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>Registration date is mandatory.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row col-lg-12 col-xl-12 divButtons">
          <div class="col-lg-6 offset-4 col-xl-6 offset-4">
            <div class="row">
              <div class="col-lg-12 col-xl-12">
                <button mat-raised-button color='warn' (click)="onClose()" type="reset" id="btnCancel">Cancel</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="formValid()"
                  id="btnSave">Save</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </form>
</div>