.usersContainer {
    padding: 0 1rem;
}
.search-form-field {
    width: 50%;
    margin-left: 26px;
    padding: 0px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    max-height: 40px !important;
}

mat-header-cell {
    font-weight: bold !important;
    font-size: 15px;
}

mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: italic;
}

.hide {
    display: none;
}

.search-form-field div.mat-form-field-underline {
    display: none;
}

.search-form-field div.mat-form-field-infix {
    border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper {
    padding-bottom: 0px;
} 

.search-form-field div.mat-form-field-suffix button{
    height: 32px;
    width: 32px;
}

.matTable {
    width: 100%;
}

mat-header-cell {
    display:flex;
    justify-content: left !important;
    font-weight: bold;
}

mat-cell{
    display:flex;
    justify-content: left !important;
}

mat-header-row {
    min-height: 50px;
    background-color: aliceblue;
}

.mat-row:nth-child(odd){
    background-color:#f5f5f5;
}

#receiptId {
    max-width: 10%;
    min-width: 10%;
    margin-left: 5px;
    margin-right: 2px;
}

#churchId {
    max-width: 10%;
    min-width: 10%;
    margin-left: 5px;
    margin-right: 2px;
}

#fullName {
    max-width: 18%;
    min-width: 15%;
    margin-left: 10px;
    margin-right: 2px;
}

#phone {
    max-width: 14%;
    min-width: 9%;
    margin-left: 8px;
    margin-right: 2px;
}

#total {
    max-width: 8%;
    min-width: 6%;
    margin-left: 5px;
    margin-right: 2px;
}

#parentReceipt {
    max-width: 5%;
    min-width: 5%;
    margin-left: 10px;
    margin-right: 2px;
}

#voided {
    max-width: 14%;
    margin-left: 10px;
    margin-right: 2px;
}

#createdBy {
    max-width: 17%;
    min-width: 14%;
    margin-left: 2px;
    margin-right: 3px;
}

#createdDate {
    max-width: 12%;
    min-width: 12%;
    margin-left: 2px;
    margin-right: 1px;
}

#receipt_actions {
    max-width: 5%;
    margin-right: 10px;
    margin-left: 3px;
}

#receipt_actions {
    max-width: 10%;
    margin-right: 2px;
    padding-left: 14px;
    font-size: 17px;
}

#receipt_actions .mat-icon {
    font-size: 19px;
}

#receipt_actions .mat-icon-button {
    width: 25px;
}

#hr_user_header1 {
    margin-top: 7px;
    margin-bottom: 3px;
}

#hr_user_header2 {
    margin-top: 1px;
    margin-bottom: 5px;
}

div.search-div .mat-raised-button {
    height: 40px;
    bottom: 5px;
}

#minusBtn {
    font-weight: bolder;
    margin-left: 3%;
}

#plusBtn {
    font-weight: bolder;
}

#refreshYear {
    font-weight: bolder;
    color: darkblue;
    margin-right: 15px;
}

.notMinimumYear, .notMaximumYear {
    color: darkblue;
}

#selectedYear {
    color: brown;
}

.btnEmail {
    color: goldenrod;
}

.btnPrint {
    color: gray;
}

.monthlyTotal {
    padding-left: 5px;
}

.refundedOriginal {
    padding-left: 5px;
    color: brown;
}

.refundTotal {
    color: brown;
}