<div class="container">
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>Send Message</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <br><br>
</div>

<form [formGroup]="smsForm" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controls-container">
        <mat-form-field>
          <textarea formControlName="message" matInput placeholder="Message*"><textarea></textarea>
          <mat-error>Please write proper message.</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="controls-container">
          <mat-form-field>
              <mat-select [(value)]="memberTypeSelected" formControlName="memberType" placeholder="Member type">
                <ng-container *ngFor="let type of member">
                    <mat-option value="{{type.id}}">{{type.value}}</mat-option>
                </ng-container>
              </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="memberTypeSelected==4"> <!-- Display if if specific members are selected --> 
            <mat-select formControlName="specificMember" placeholder="Please select specific member/s" [(value)]="specificMembersSelected" multiple>
              <ng-container>
                  <mat-option *ngFor="let member of memberList" value="member.mobile">{{member.firstName}} {{member.lastName}} {{member.mobile}}</mat-option>
              </ng-container>
            </mat-select>
        </mat-form-field>
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="smsForm.invalid">Send</button>
            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </div>
        </div>
    </mat-grid-tile>  
  </mat-grid-list>
</form>