.mainDiv {
    margin-top: -20px;
    margin-bottom: -20px;
}

.matToolBar {
    background-color: #3f51b5;
    color: white;
    font-size: 25px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}
.loginCard {
    width: 100%;
    margin-top: 5%;
}

.loginHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: column;
}


  .changepasswordForm{
    margin-top: 40px !important;
  }


.btnLogin {
width:50%;
}

.btnClear {
    margin-left: 20px !important;
    width:40%;
}

.divButtons{
    text-align: center;
    margin-top: 40px;
}

.divFormFields {
    margin-top:5%;
}

mat-form-field {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.custom-error{
    display: block;
    color: #f44336;
}

.lblConfirmError {
    font-size: 10px;
}
