<div class="mainDiv">
  <div class="row">
    <div class="col-12">
      <mat-card class='loginCard'>
        <mat-card-header class='loginHeader'>
          <mat-toolbar class="matToolBar">
            <span>Change Your Password</span>
            <span class="fill-remaining-space"></span>
            <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-toolbar>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="changepasswordForm" class="changepasswordForm">
            <div class='row'>
              <div class="col-12">
                <mat-form-field class='formField'>
                  <input matInput formControlName='currentpassword' placeholder="CurrentPassword" type='password' />
                  <mat-error>Password field is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class='formField'>
                  <input matInput formControlName='password' placeholder="Password" type='password' />
                  <mat-error>Password field is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class='formField'>
                  <input matInput formControlName='confirmPassword' placeholder="Confirm-Password" type='password' />
                  <mat-error>Confirm-Password field is required</mat-error>
                  <div *ngIf="showConfirmPasswordErrorMessage()"
                    class="ng-tns-c12-17 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                    style="opacity: 1; transform: translateY(0%);">
                    <label class="mat-error lblConfirmError" role="alert" id="mat-error-3">Password did not match</label>
                  </div>
                </mat-form-field>
              </div>
              <div class='col-12 row'>
                <div class="col-2">

                </div>
                <div class="col-8 divButtons">
                  <button mat-raised-button color='primary' class='btnLogin' (click)='onChangePassword()'
                    [disabled]="changePasswordDisabled()">Change Password</button>
                  <button mat-raised-button color='warn' class="btnClear" (click)='onClear()'>Clear</button>
                </div>
                <div class="col-2">

                </div>

              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>