.nameMonthTotal {
    margin-top: 40px;
    margin-left: 20px;
}
  
#leftLabels {
    padding-right: 10px;
}

.name {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.previewBtn {
    margin-left: 10%;
}

.memberPaymentInfoTbl {
    margin-left: 5%;
    width: 80%
}
  
table {
    margin-bottom: 20px;
    border-collapse: collapse;
    margin-left: 35px;
}
  
table, th, td {
    border: 1px solid lightblue;
}
  
.headerLabel {
    padding-left: 13%;
}