<div class="mat-elevation-z8 payment-container">
<hr id="hr_payment_header1"/>
<button mat-icon-button id="minusPlusBtn" [ngClass] = "minusBtnClass" [disabled]="year <= minimumYear" (click) = "minusYearClicked()">
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>
<label>{{year}}</label>
<button mat-icon-button id="minusPlusBtn" [ngClass] = "plusBtnClass" [disabled]="year >= maximumYear" (click) = "plusYearClicked()">
  <mat-icon>keyboard_arrow_right</mat-icon>
</button>
<button mat-icon-button id="refreshYear" (click) = "currentYearClicked()">
  <mat-icon>autorenew</mat-icon>
</button>

<mat-form-field class="search-form-field" floatLabel="never">
    <input matInput class = "search-input" [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter($event.target.value)">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class = "activeInactive">
    <mat-select (selectionChange) = onActiveInactiveDropDownChange($event) [(value)]="activeInactiveStatus" placeholder="Status">
      <mat-option *ngFor="let memberStatus of memberStatuses" [value]="memberStatus.value">
        {{memberStatus.displayValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <hr id="hr_payment_header2"/>
<!-- <button mat-raised-button [disabled]="selectedrow==null" (click) = "pay()" class="blue pay-btn">
    <mat-icon>monetization_on</mat-icon>
    Pay
</button> -->

<mat-table [dataSource]="paymentListData" matSort>    
      <ng-container matColumnDef="select">
          <mat-header-cell  *matHeaderCellDef id="colSelect" class="colSelect">
            <!-- <mat-checkbox color="primary">
            </mat-checkbox> -->
          </mat-header-cell>
          <mat-cell *matCellDef="let row" id='colSelect'>
            <!-- <mat-checkbox color="primary">
            </mat-checkbox> -->
            <!-- <mat-radio-button color="primary"
             (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row):false"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)">
            </mat-radio-button> -->
            <mat-radio-button color="primary"
            [value]="row"            
           (click)="onEdit(row)"
             >
           </mat-radio-button>
          </mat-cell>
        </ng-container>
      <!-- <ng-container  matColumnDef="memberId">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="colKey">No</mat-header-cell>
          <mat-cell *matCellDef="let element" class="colKey">{{element.memberId}}</mat-cell>
      </ng-container> -->
    <ng-container  matColumnDef="churchId">
        <mat-header-cell *matHeaderCellDef mat-sort-header id="churchId">Church Id</mat-header-cell>
        <mat-cell *matCellDef="let element" id="churchId">{{element.churchId}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="name" >
        <mat-header-cell *matHeaderCellDef mat-sort-header id="name">Full Name</mat-header-cell>
        <mat-cell *matCellDef="let element" id="name" (click)="onEdit(element)">{{element.firstName + ' ' + element.middleName + ' ' + element.lastName}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="homePhoneNo">
      <mat-header-cell  *matHeaderCellDef mat-sort-header class="homePhoneNo">Phone</mat-header-cell>
      <mat-cell  *matCellDef="let element" class="homePhoneNo">{{element.homePhoneNo}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="unpaidMonths">
      <mat-header-cell *matHeaderCellDef id="month">Unpaid</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <label class="unpaidMonths">{{getUnpaidTotal(element.paymentStartDate, element.paymentLogs)}}</label>
        </mat-cell>
    </ng-container>
  <ng-container matColumnDef="Jan" >
    <mat-header-cell *matHeaderCellDef id="month">Jan</mat-header-cell>
      <mat-cell *matCellDef="let element" id="month">
        <mat-icon id="paidMonth" *ngIf = "element.paymentLogs[0].paymentLogId != 0 && element.paymentLogs[0].forgiven === false">done</mat-icon>
        <mat-icon id="assistedMonth" *ngIf = "element.paymentLogs[0].paymentLogId != 0 && element.paymentLogs[0].forgiven === true">pan_tool</mat-icon>
        <mat-icon id="notMemberMonth" *ngIf = "registrationAfterThisMonth(element.paymentStartDate, 1)">remove</mat-icon>
      </mat-cell>
  </ng-container>
    <ng-container matColumnDef="Feb">
        <mat-header-cell *matHeaderCellDef id="month">Feb</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf = "element.paymentLogs[1].paymentLogId != 0 && element.paymentLogs[1].forgiven === false">done</mat-icon>
          <mat-icon id="assistedMonth" *ngIf = "element.paymentLogs[1].paymentLogId != 0 && element.paymentLogs[1].forgiven === true">pan_tool</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf = "registrationAfterThisMonth(element.paymentStartDate, 2)">remove</mat-icon>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Mar">
        <mat-header-cell *matHeaderCellDef id="month">Mar</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf = "element.paymentLogs[2].paymentLogId != 0 && element.paymentLogs[2].forgiven === false">done</mat-icon>
          <mat-icon id="assistedMonth" *ngIf = "element.paymentLogs[2].paymentLogId != 0 && element.paymentLogs[2].forgiven === true">pan_tool</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf = "registrationAfterThisMonth(element.paymentStartDate, 3)">remove</mat-icon>
      </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="April">
      <mat-header-cell *matHeaderCellDef id="month">Apr</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf = "element.paymentLogs[3].paymentLogId != 0 && element.paymentLogs[3].forgiven === false">done</mat-icon>
          <mat-icon id="assistedMonth" *ngIf = "element.paymentLogs[3].paymentLogId != 0 && element.paymentLogs[3].forgiven === true">pan_tool</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf = "registrationAfterThisMonth(element.paymentStartDate, 4)">remove</mat-icon>
       </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="May">
      <mat-header-cell *matHeaderCellDef id="month">May</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf = "element.paymentLogs[4].paymentLogId != 0 && element.paymentLogs[4].forgiven === false">done</mat-icon>
          <mat-icon id="assistedMonth" *ngIf = "element.paymentLogs[4].paymentLogId != 0 && element.paymentLogs[4].forgiven === true">pan_tool</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf = "registrationAfterThisMonth(element.paymentStartDate, 5)">remove</mat-icon>
        </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="June">
      <mat-header-cell *matHeaderCellDef id="month">Jun</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf = "element.paymentLogs[5].paymentLogId != 0 && element.paymentLogs[5].forgiven === false">done</mat-icon>
          <mat-icon id="assistedMonth" *ngIf = "element.paymentLogs[5].paymentLogId != 0 && element.paymentLogs[5].forgiven === true">pan_tool</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf = "registrationAfterThisMonth(element.paymentStartDate, 6)">remove</mat-icon>
      </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="July">
      <mat-header-cell *matHeaderCellDef id="month">Jul</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf = "element.paymentLogs[6].paymentLogId != 0 && element.paymentLogs[6].forgiven === false">done</mat-icon>
          <mat-icon id="assistedMonth" *ngIf = "element.paymentLogs[6].paymentLogId != 0 && element.paymentLogs[6].forgiven === true">pan_tool</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf = "registrationAfterThisMonth(element.paymentStartDate, 7)">remove</mat-icon>
        </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="Aug">
      <mat-header-cell *matHeaderCellDef id="month">Aug</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf = "element.paymentLogs[7].paymentLogId != 0 && element.paymentLogs[7].forgiven === false">done</mat-icon>
          <mat-icon id="assistedMonth" *ngIf = "element.paymentLogs[7].paymentLogId != 0 && element.paymentLogs[7].forgiven === true">pan_tool</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf = "registrationAfterThisMonth(element.paymentStartDate, 8)">remove</mat-icon>
      </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="Sep">
      <mat-header-cell *matHeaderCellDef id="month">Sep</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf = "element.paymentLogs[8].paymentLogId != 0 && element.paymentLogs[8].forgiven === false">done</mat-icon>
          <mat-icon id="assistedMonth" *ngIf = "element.paymentLogs[8].paymentLogId != 0 && element.paymentLogs[8].forgiven === true">pan_tool</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf = "registrationAfterThisMonth(element.paymentStartDate, 9)">remove</mat-icon>
        </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="Oct">
      <mat-header-cell *matHeaderCellDef id="month">Oct</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf = "element.paymentLogs[9].paymentLogId != 0 && element.paymentLogs[9].forgiven === false">done</mat-icon>
          <mat-icon id="assistedMonth" *ngIf = "element.paymentLogs[9].paymentLogId != 0 && element.paymentLogs[9].forgiven === true">pan_tool</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf= "registrationAfterThisMonth(element.paymentStartDate, 10)">remove</mat-icon>
        </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="Nov">
      <mat-header-cell *matHeaderCellDef id="month">Nov</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf = " element.paymentLogs[10].paymentLogId!= 0 && element.paymentLogs[10].forgiven === false">done</mat-icon>
          <mat-icon id="assistedMonth" *ngIf = "element.paymentLogs[10].paymentLogId != 0 && element.paymentLogs[10].forgiven === true">pan_tool</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf = "registrationAfterThisMonth(element.paymentStartDate, 11)">remove</mat-icon>
      </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="Dec">
      <mat-header-cell *matHeaderCellDef id="month">Dec</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf = "element.paymentLogs[11].paymentLogId != 0 && element.paymentLogs[11].forgiven === false">done</mat-icon>
          <mat-icon id="assistedMonth" *ngIf = "element.paymentLogs[11].paymentLogId != 0 && element.paymentLogs[11].forgiven === true">pan_tool</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf = "registrationAfterThisMonth(element.paymentStartDate, 12)">remove</mat-icon>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        <!-- Loading data... -->
        <img src="../../../assets/fading_squares.gif" alt="Loading image" height="40" width="150">
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':!isLoading}">
    </mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']"
      [ngClass]="{'hide':!((isLoading===false) && paymentListData.data.length==0)}">
    </mat-footer-row>

    </mat-table>

    <button mat-raised-button [disabled]="selectedrow==null" (click) = "proceedToPayment('regular')" class="blue pay-btn">
        <mat-icon>monetization_on</mat-icon>
        Proceed To Payment
    </button>
    <button mat-raised-button [disabled]="selectedrow==null || disableForgivenessBtn" (click) = "proceedToPayment('forgiveness')" class="blue pay-btn">
      <mat-icon>monetization_on</mat-icon>
      Forgive Payment
  </button>
    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100]" [pageSize]="10"
    showFirstLastButtons></mat-paginator>
   
  </div>