
<!-- <div class="search-div">    -->
    <!-- <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter($event.target.value)">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field> -->
    <!-- <button mat-raised-button [disabled]="selectedrow==null" (click) = "pay()" class="blue pay-btn">
        Pay
    </button> -->
  <!-- </div> -->
  <!-- <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field> -->
 
<div class="mat-elevation-z8 payment-container">
    <!-- <mat-select [(value)]="year" formControlName="StatusCode">
        <mat-option *ngFor="let status of year" [value]="year.Value" >
               {{ status.Value }}
        </mat-option>
 </mat-select>   -->
 <!-- <mat-select [(value)]="selected" (selectionChange) = "getPaymentList()" placeholder="Year" class="year-dpn">
    <mat-option [value]="currentYear">{{currentYear}}</mat-option>
    <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
  </mat-select> -->
<hr/>
<button mat-icon-button id="minusPlusBtn" [ngClass] = "minusBtnClass" [disabled]="year <= minimumYear" (click) = "minusYearClicked()">
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>
<label>{{year}}</label>
<button mat-icon-button id="minusPlusBtn" [ngClass] = "plusBtnClass" [disabled]="year >= maximumYear" (click) = "plusYearClicked()">
  <mat-icon>keyboard_arrow_right</mat-icon>
</button>
<button mat-icon-button id="refreshYear" (click) = "currentYearClicked()">
  <mat-icon>autorenew</mat-icon>
</button>

<mat-form-field class="search-form-field" floatLabel="never">
    <input matInput class = "search-input" [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter($event.target.value)">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <hr/>
<!-- <button mat-raised-button [disabled]="selectedrow==null" (click) = "pay()" class="blue pay-btn">
    <mat-icon>monetization_on</mat-icon>
    Pay
</button> -->
<mat-table [dataSource]="paymentListData" matSort>    
      <ng-container matColumnDef="select">
          <mat-header-cell  *matHeaderCellDef id="colSelect" class="colSelect">
            <!-- <mat-checkbox color="primary">
            </mat-checkbox> -->
          </mat-header-cell>
          <mat-cell *matCellDef="let row" id='colSelect'>
            <!-- <mat-checkbox color="primary">
            </mat-checkbox> -->
            <!-- <mat-radio-button color="primary"
             (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row):false"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)">
            </mat-radio-button> -->
            <mat-radio-button color="primary"
            [value]="row"            
           (click)="onEdit(row)"
             >
           </mat-radio-button>
          </mat-cell>
        </ng-container>
      <!-- <ng-container  matColumnDef="memberId">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="colKey">No</mat-header-cell>
          <mat-cell *matCellDef="let element" class="colKey">{{element.memberId}}</mat-cell>
      </ng-container> -->
    <ng-container  matColumnDef="churchId">
        <mat-header-cell *matHeaderCellDef mat-sort-header id="churchId">Church Id</mat-header-cell>
        <mat-cell *matCellDef="let element" id="churchId">{{element.churchId}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="name" >
        <mat-header-cell *matHeaderCellDef mat-sort-header id="name">Full Name</mat-header-cell>
        <mat-cell *matCellDef="let element" id="name" (click)="onEdit(element)">{{element.firstName + ' ' + element.middleName + ' ' + element.lastName}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="homePhoneNo">
      <mat-header-cell  *matHeaderCellDef mat-sort-header class="homePhoneNo">Phone</mat-header-cell>
      <mat-cell  *matCellDef="let element" class="homePhoneNo">{{element.homePhoneNo}}</mat-cell>
  </ng-container>
  <ng-container  matColumnDef="unpaidMonths">
      <mat-header-cell *matHeaderCellDef id="month">Unpaid</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <label>{{element.unpaidMonths}}</label>
        </mat-cell>
    </ng-container>
  <ng-container matColumnDef="Jan" >
    <mat-header-cell *matHeaderCellDef id="month">January</mat-header-cell>
      <mat-cell *matCellDef="let element" id="month">
        <mat-icon id="paidMonth" *ngIf="element.paymentLog[0].paymentLogId!=null">done</mat-icon>
        <mat-icon id="notMemberMonth" *ngIf="registrationAfterThisMonth(element.registrationDate.getUTCMonth()+1, element.registrationDate.getFullYear(), 1)">remove</mat-icon>
      </mat-cell>
  </ng-container>
    <ng-container matColumnDef="Feb">
        <mat-header-cell *matHeaderCellDef id="month">February</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf="element.paymentLog[1].paymentLogId!=null">done</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf="registrationAfterThisMonth(element.registrationDate.getUTCMonth()+1, element.registrationDate.getFullYear(), 2)">remove</mat-icon>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Mar">
        <mat-header-cell *matHeaderCellDef id="month">March</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf="element.paymentLog[2].paymentLogId!=null">done</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf="registrationAfterThisMonth(element.registrationDate.getUTCMonth()+1, element.registrationDate.getFullYear(), 3)">remove</mat-icon>
      </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="April">
      <mat-header-cell *matHeaderCellDef id="month">April</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf="element.paymentLog[3].paymentLogId!=null">done</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf="registrationAfterThisMonth(element.registrationDate.getUTCMonth()+1, element.registrationDate.getFullYear(), 4)">remove</mat-icon>
       </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="May">
      <mat-header-cell *matHeaderCellDef id="month">May</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf="element.paymentLog[4].paymentLogId!=null">done</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf="registrationAfterThisMonth(element.registrationDate.getUTCMonth()+1, element.registrationDate.getFullYear(), 5)">remove</mat-icon>
        </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="June">
      <mat-header-cell *matHeaderCellDef id="month">June</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf="element.paymentLog[5].paymentLogId!=null">done</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf="registrationAfterThisMonth(element.registrationDate.getUTCMonth()+1, element.registrationDate.getFullYear(), 6)">remove</mat-icon>
      </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="July">
      <mat-header-cell *matHeaderCellDef id="month">July</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf="element.paymentLog[6].paymentLogId!=null">done</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf="registrationAfterThisMonth(element.registrationDate.getUTCMonth()+1, element.registrationDate.getFullYear(), 7)">remove</mat-icon>
        </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="Aug">
      <mat-header-cell *matHeaderCellDef id="month">August</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf="element.paymentLog[7].paymentLogId!=null">done</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf="registrationAfterThisMonth(element.registrationDate.getUTCMonth()+1, element.registrationDate.getFullYear(), 8)">remove</mat-icon>
      </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="Sep">
      <mat-header-cell *matHeaderCellDef id="month">September</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf="element.paymentLog[8].paymentLogId!=null">done</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf="registrationAfterThisMonth(element.registrationDate.getUTCMonth()+1, element.registrationDate.getFullYear(), 9)">remove</mat-icon>
        </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="Oct">
      <mat-header-cell *matHeaderCellDef id="month">October</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf="element.paymentLog[9].paymentLogId!=null">done</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf="registrationAfterThisMonth(element.registrationDate.getUTCMonth()+1, element.registrationDate.getFullYear(), 10)">remove</mat-icon>
        </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="Nov">
      <mat-header-cell *matHeaderCellDef id="month">November</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf="element.paymentLog[10].paymentLogId!=null">done</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf="registrationAfterThisMonth(element.registrationDate.getUTCMonth()+1, element.registrationDate.getFullYear(), 11)">remove</mat-icon>
      </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="Dec">
      <mat-header-cell *matHeaderCellDef id="month">December</mat-header-cell>
        <mat-cell *matCellDef="let element" id="month">
          <mat-icon id="paidMonth" *ngIf="element.paymentLog[11].paymentLogId!=null">done</mat-icon>
          <mat-icon id="notMemberMonth" *ngIf="registrationAfterThisMonth(element.registrationDate.getUTCMonth()+1, element.registrationDate.getFullYear(), 12)">remove</mat-icon>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <button mat-raised-button [disabled]="selectedrow==null" (click) = "pay()" class="blue pay-btn">
        <mat-icon>monetization_on</mat-icon>
        Proceed to payment
    </button>
    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100]" [pageSize]="5"
    showFirstLastButtons></mat-paginator>
   
</div>