.blue {
    background-color: #4e74c9;
    text-shadow: 1px 1px 1px rgba(000,000,000, .20);
    border: 1px solid #415CB0;
    color: #FFFFFF;
}

.blue:active {
    position: relative;
    top: 1px;
}

.blue:hover {
    background-color: #5F85DB;
}

.button:hover, .auto_button:hover, .sm_button:hover {
    text-decoration: none;
}

.search-div,.search-form-field {
    margin-left: 0;
}

.matTable {
    max-width:100%;   
}

.pay-btn {
    float: left;
    margin-left: 2%;
    margin-top: 8px;
}

.search-div {
    margin: 10px;
}

.search-form-field {
    width: 50%;
    margin-left: 26px;
    padding: 0px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    max-height: 40px !important;
}

mat-header-cell {
    font-weight: bold !important;
    font-size: 15px;
}

/* .colMobile {
    padding-right: 1%;
}  */

mat-header-cell {
    display:flex;
    justify-content: left !important;
    font-weight: bold;
}
    
mat-cell{
    display:flex;
    justify-content: left !important;
}

#colSelect {
    max-width: 4%;
}

#church_id {
    max-width: 3%;
    margin-left: 2px;
    margin-right: 2px;
}

#name {
    max-width: 20%;
    margin-left: 2px;
    margin-right: 2px;
}

#month {
    max-width: 5%;
    margin-left: 2px;
    margin-right: 2px;
}

#paidMonth {
    color: darkgreen;
}

#assistedMonth {
    color: darkblue;
}

#notMemberMonth {
    color: darkred;
}

#minusPlusBtn {
    font-weight: bolder;
}

.notMinimumYear, .notMaximumYear {
    color: darkblue;
}

#refreshYear {
    font-weight: bolder;
    color: darkblue;
    margin-right: 50px;
}

mat-table {
    margin-top: 1px;
}

mat-header-row {
    min-height: 50px;
    background-color: aliceblue;
}

.mat-row:nth-child(odd){
    background-color:#f5f5f5;
}

#hr_payment_header1 {
    margin-top: 7px;
    margin-bottom: 3px;
}

#hr_payment_header2 {
    margin-top: 1px;
    margin-bottom: 5px;
}

mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: italic;
}

.hide {
    display: none;
}

.mat-form-field-infix {
    border-top-width: 6px;
    padding-bottom: 5px;
}

.unpaidMonths {
    padding-left: 20px;
    color: #5F85DB;
    font-weight: bold;
}

.activeInactive {
    padding-left: 50px;
}