<div class="mainDiv">
  <div class="row">
    <div class="col-12">
      <mat-card class='loginCard'>
        <mat-card-header class='loginHeader'>
          <mat-toolbar class="matToolBar">
            <span>Add New User</span>
            <span class="fill-remaining-space"></span>
            <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-toolbar>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="registrationForm" class="registrationForm">
            <div class='row'>
              <div class="col-12">
                <mat-form-field>
                  <mat-label>Select user</mat-label>
                  <mat-select formControlName='user' (selectionChange)="onMemberSelected($event)" #USER>
                    <mat-option *ngFor="let member of members" [value]='member'>
                      {{member.firstName +' ' + member.middleName +' ' + member.lastName }}
                    </mat-option>
                  </mat-select>
                  <mat-error>Please select a user.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class='formField'>
                  <input matInput formControlName='email' placeholder="Email" [value]='email' disabled='true' />
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class='formField'>
                  <input matInput formControlName='phoneNo' placeholder="Phone number" [value]='phoneNo'
                    disabled='true' />
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field>
                  <mat-label>Select Role(s)</mat-label>
                  <mat-select formControlName='roles' multiple #ROLE>
                    <mat-option [value]='roles.sundaySchool.toString()'>{{roles.sundaySchool}}</mat-option>
                    <mat-option [value]='roles.secretary.toString()'>{{roles.secretary}}</mat-option>
                    <mat-option [value]='roles.sebeka_gubae.toString()'>{{roles.sebeka_gubae}}</mat-option>
                    <mat-option [value]='roles.abo_wenber_sebeka_gubae.toString()'>{{roles.abo_wenber_sebeka_gubae}}</mat-option>
                  </mat-select>
                  <mat-error>You must select at least one role.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class='formField'>
                  <input matInput formControlName='password' placeholder="Password" type='password' />
                  <mat-error>Password field is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class='formField'>
                  <input matInput formControlName='confirmPassword' placeholder="Confirm-Password" type='password' />
                  <mat-error>Confirm-Password field is required</mat-error>
                  <div *ngIf="showConfirmPasswordErrorMessage()"
                    class="ng-tns-c12-17 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                    style="opacity: 1; transform: translateY(0%);">
                    <label class="mat-error lblConfirmError" role="alert" id="mat-error-3">Password did not match</label>
                  </div>
                </mat-form-field>
              </div>
              <div class='col-12 row'>
                <div class="col-2">

                </div>
                <div class="col-8 divButtons">
                  <button mat-raised-button color='primary' class='btnLogin' (click)='onSave()'
                    [disabled]="saveUserDisabled()">Save</button>
                  <button mat-raised-button color='warn' class="btnClear" (click)='onClear()'>Clear</button>
                </div>
                <div class="col-2">

                </div>

              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>