<mat-dialog-content>
    <div class="example-container">
      <mat-toolbar>
        <span><label class="headerLabel">Add Member Dialog Close Confirm</label></span>
        <span class="fill-remaining-space"></span>
      </mat-toolbar>
      <div class = "closeConfirmDiv">
        <p>You may have data which is <b>not</b> saved. Please make sure you have completed the registration process.</p>
        <span class = "closeConfirm">Are you sure you want to close?</span>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color='accent' (click)="closeAddMemberDialog('no')" class = "cancelBtn" cdkFocusInitial><mat-icon>cancel</mat-icon>No</button>
    <button mat-raised-button (click)="closeAddMemberDialog('yes')" color='primary'><mat-icon class = "yesBtn">done</mat-icon>Yes</button>
  </mat-dialog-actions>
  