/* .search-div {
    margin: 10px;
} */

.search-form-field {
    width: 46%;
    margin-left: 26px;
    padding: 0px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    max-height: 40px !important;
}

mat-header-cell {
    font-weight: bold !important;
    font-size: 15px;
}

mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: italic;
}

.hide {
    display: none;
}

.search-form-field div.mat-form-field-underline {
    display: none;
}

.search-form-field div.mat-form-field-infix {
    border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper {
    padding-bottom: 0px;
} 

.search-form-field div.mat-form-field-suffix button{
    height: 32px;
    width: 32px;
}

.matTable {
    width: 100%;
}

mat-header-cell {
    display:flex;
    justify-content: left !important;
    font-weight: bold;
}

mat-cell{
    display:flex;
    justify-content: left !important;
}

mat-header-row {
    min-height: 50px;
    background-color: aliceblue;
}

.mat-row:nth-child(odd){
    background-color:#f5f5f5;
}

/* #registartion_select {
    max-width: 5%;
    margin-left: 2px;
    margin-right: 2px;
} */

#church_id {
    max-width: 10%;
    margin-left: 2px;
    /* margin-right: 2px; */
}

#oldChurch_id {
    max-width: 6%;
    /* margin-left: 2px; */
    margin-right: 2px;
}

#registartion_name {
    max-width: 15%;
    margin-left: 2px;
    margin-right: 2px;
}

#registartion_gender {
    max-width: 6%;
    margin-left: 2px;
    margin-right: 2px;
}

#registartion_mobile {
    max-width: 8%;
    margin-left: 2px;
    margin-right: 3px;
}

#registartion_address {
    max-width: 20%;
    margin-left: 3px;
    margin-right: 2px;
    word-break: break-word;
}

#registartion_email {
    max-width: 20%;
    margin-left: 4px;
    margin-right: 2px;
    word-break: break-word;
}

#registartion_date {
    max-width: 12%;
    margin-left: 1px;
    margin-right: 2px;
}

#registartion_actions_main_member {
    max-width: 10%;
    /* margin-left: 2px; */
    margin-right: 2px;
    padding-left: 14px;
    font-size: 17px;
}

#registartion_actions_main_member .mat-icon {
    font-size: 17px;
}

#registartion_actions_main_member .mat-icon-button {
    width: 25px;
}

/* #registartion_actions {
    max-width: 10%;
    margin-left: 2px;
    margin-right: 2px;
} */

/* .sebekaGubae {
    padding-left: 25px;
    padding-right: 35px;
}

.sundaySchool {
    padding-left: 35px;
} */

.refreshMemberListPage {
    margin-left: 30px;
    font-weight: bolder;
    color: darkblue;
}

.activeInactive {
    padding-left: 25px;
}

.tierSelect {
    padding-left: 30px;
}

#hr_member_header1 {
    margin-top: 7px;
    margin-bottom: 3px;
}

#hr_member_header2 {
    margin-top: 1px;
    margin-bottom: 5px;
}

div.search-div .mat-raised-button {
    height: 40px;
    bottom: 5px;
}

/* example-detail-row {
    height: 0;
} */

.example-element-row:not(.example-expanded-row):hover {
    background: #f1f1c1;
}
  
/* .example-element-row:not(.example-expanded-row):active {
    background: #efefef;
} */

/* mat-row .example-element-row {
    border-bottom-width: 0;
}  */

/* .mat-row .example-expanded-row {
    border-bottom-width: 0px !important;
} */

.example-element-detail {
    overflow: hidden;
    display: flex;
    width: 100%;
}

#registartion_name_dependent {
    padding-left: 5px;
    min-width: 20%;
    max-width: 20%;
}

#registartion_gender_dependent {
    min-width: 6%;
    max-width: 6%;
}

#registartion_mobile_dependent {
    min-width: 9%;
    max-width: 9%;
}

#registartion_address_dependent {
    min-width: 22%;
    max-width: 22%;
}

#registartion_email_dependent {
    min-width: 22%;
    max-width: 22%;
}

#registartion_date_dependent {
    max-width: 10%;
}

#registartion_actions_dependent_header {
    padding-left: 8px !important;
    max-width: 5%;
}

#registartion_actions_dependent .mat-icon {
    font-size: 17px;
}

#registartion_actions_dependent .mat-icon-button {
    width: 25px;
}

.inActive {
    background-color:rgb(207, 131, 131);
}

table {
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: white;
}
  
th {
    min-height: 50px;
    background-color: aliceblue;
    color: #8F8F8F;
    height: 40px;
    text-align: left;
    padding: 2px;
}
  
/* tr:nth-child(even){background-color: #CCD6DD} */

.addMember_dependentBtn {
    margin-top: 10px;
    margin-bottom: 4px;
    margin-right: 2%;
    float: right;
}