.mainDiv{
    background-color: white;
    width: 100%;
    height: 92vh;
    overflow-x: hidden;
}

.loginCard {
    max-width: 400px;
    max-height: 500px;
    margin-left: 18%;
    margin-top: 22%;
}

.loginHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: column;
}
.loginAvatar {
    width: 130px;
    height: 135px; 
  }

  .loginForm{
    margin-top: 40px !important;
  }
  .userNameField{
      width: 100%;
  }
  .passwordField{
    width: 100%;
}

.btnLogin {
width:50%;
}

.btnClear {
    width:40%;
    margin-left: 20px !important;
}

.divButtons{
    text-align: center;
    margin-top: 40px;
}